#node-admin-content .form-item-tags {
	display:none;
}
.ctools-locked {
	color:red;
	border:1px solid red;
	padding:1em;
}
.ctools-owns-lock {
	background:#FFFFDD none repeat scroll 0 0;
	border:1px solid #F0C020;
	padding:1em;
}
a.ctools-ajaxing, input.ctools-ajaxing, button.ctools-ajaxing, select.ctools-ajaxing {
	padding-right:18px !important;
	background:url(../css/images/status-active.gif) right center no-repeat;
}
div.ctools-ajaxing {
	float:left;
	width:18px;
	background:url(../css/images/status-active.gif) center center no-repeat;
}
#isotope-container .block {
	z-index:2;
	background:#fff;
}
#isotope-container .block {
	-webkit-transition-duration:0s;
	-moz-transition-duration:0s;
	-ms-transition-duration:0s;
	-o-transition-duration:0s;
	transition-duration:0s;
}
#isotope-container {
	-webkit-transition-property:height, width;
	-moz-transition-property:height, width;
	-ms-transition-property:height, width;
	-o-transition-property:height, width;
	transition-property:height, width;
}
#isotope-container .block {
	width:240px;
	-webkit-transition-property:-webkit-transform, opacity;
	-moz-transition-property:-moz-transform, opacity;
	-ms-transition-property:-ms-transform, opacity;
	-o-transition-property:top, left, opacity;
	transition-property:transform, opacity;
}
#spinner {
	width:100px;
	height:100px;
	position:absolute;
	top:50%;
	left:50%;
	margin:-50px 0 0 -50px;
}
#isotope-container {
	float:left;
	display:inline;
	margin-right:-1px;
}
#isotope-container .block {
	width:240px;
	height:240px;
*height:239px;
*height:239px;
	float:left;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ddd;
	overflow:hidden;
	position:relative;
}
.inner {
	float:left;
	height:100%;
	display:table;
	text-align:center;
	text-decoration:none;
	overflow:hidden;
	font-family:Georgia, Cambria, "Times New Roman", Times, serif;
	background:#fff;
	transition:background .25s ease-in-out;
	-moz-transition:background .25s ease-in-out;
	-webkit-transition:background .25s ease-in-out;
	margin:0 0 0 -0.5%;
	width:101%;
}
.boxsizing .inner {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}
.boxsizing #isotope-container .block {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	width:240px;
}
.fixed-filter {
	display:none;
}
.title {
	display:table-cell;
	vertical-align:middle;
	text-align: center
	/* width:240px; */
	padding:0 55px 24px 55px;*
	position:absolute;*
	left:0;*
	top:50%;*
	width:100px;
}
.title1 {
	display:table-cell;
	text-align: center
	/* width:240px; */
	padding:0 55px 24px 55px;*
	position:absolute;*
	left:50;*
	top:50%;*
	width:100px;
}
.subtitle {
	display:block;
	width:100%;
	position:absolute;
	left:0;
	bottom:36px;
}
.inner .title span {
	display:block;
	overflow:nowrap;
	text-overflow:ellipsis;
	margin:0 auto;
*position:absolute;
*top:-50%;
*left:0;
*text-align:center;
*display:block;
*width:240px;
}
.inner, .inner .title, .inner .title span {
}
a.inner:hover {
	background:#ddd;
}
.subtitle {
	color:#85828c;
	font-family:"Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Verdana, Tahoma, sans-serif;
	font-size:10px;
	line-height:1.2;
	text-align:center;
	display:block;
	width:100%;
	position:absolute;
	left:0;
	bottom:36px;
	text-transform:uppercase;
}
.tweet .subtitle {
	text-transform:none;
}
.main .menu {
	background:#1e5799;
	background:-moz-linear-gradient(45deg, #1e5799 0%, #ececec 0%, #ffffff 100%);
	background:-webkit-gradient(linear, left bottom, right top, color-stop(0%, #1e5799), color-stop(0%, #ececec), color-stop(100%, #ffffff));
	background:-webkit-linear-gradient(45deg, #1e5799 0%, #ececec 0%, #ffffff 100%);
	background:-o-linear-gradient(45deg, #1e5799 0%, #ececec 0%, #ffffff 100%);
	background:-ms-linear-gradient(45deg, #1e5799 0%, #ececec 0%, #ffffff 100%);
	background:linear-gradient(45deg, #1e5799 0%, #ececec 0%, #ffffff 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e5799', endColorstr='#ffffff', GradientType=1);
}
.menu a {
	text-decoration:none;
}
.count {
	background:#fff;
	width:93px;
	height:93px;
	border-radius:50%;
	position:absolute;
	bottom:-29px;
	left:-16px;
}
.num {
	display:block;
	margin-top:30px;
	font-size:14px;
	font-style:italic;
}
.corner {
	background:#c4c2ca;
	position:absolute;
	width:34px;
	height:34px;
	bottom:0;
	right:0;
	text-align:center;
}
.corner .symbol {
	color:#fff;
	text-decoration:none;
}
.weight {
	display:none;
}
.aggregator .inner, .aggregator .inner:hover {
	background:#f4f4f4 url(../css/images/section-bg.jpg) center center no-repeat;
	background-size:100%;
}
.aggregator .plusicon, .aggregator .minusicon {
	background:#c4c2ca url(../css/images/aggregators_sprite.gif) -40px 0 no-repeat;
	position:absolute;
	right:0;
	bottom:0;
	display:block;
	width:34px;
	height:34px;
	-webkit-transition:background-color .25s ease-in-out;
	-moz-transition:background-color .25s ease-in-out;
	-o-transition:background-color .25s ease-in-out;
	-ms-transition:background-color .25s ease-in-out;
	transition:background-color .25s ease-in-out;
}
.aggregator .minusicon {
	background-position:0 0;
}
.aggregator a:hover .plusicon, .aggregator a:hover .minusicon {
	background-color:#cadee6;
}
.careers.aggregator a:hover .plusicon, .careers.aggregator a:hover .minusicon {
	background:#ffffff url(../css/images/aggregators_sprite_careers.gif) 0 0 no-repeat;
}
.aggregator h2 {
	width:130px;
	height:35px;
	padding:6px 10px 9px 10px;
	text-align:center;
	color:#000;
	display:block;
	position:absolute;
	margin:0;
	top:95px;
	left:45px;
	top:50%;
	left:50%;
	margin-left:-75px;
	margin-top:-21px;
	font-size: 25px;
	font-family:'univers_59_ultra_condensedRg';
	font-style:normal;
	line-height:38px;
}
.aggregator .title span {
*position:static;
*top:auto;
*left:auto;
*text-align:center;
*display:block;
*width:auto;
}
.aggregator .cross, .aggregator .cross-active {
	width:50px;
	height:150px;
	display:block;
	position:absolute;
	top:45px;
	left:95px;
	top:50%;
	margin-top:-75px;
	left:50%;
	margin-left:-25px;
}
.aggregator .cross {
	opacity:0;
	filter:alpha(opacity = 0);
	-webkit-transition:opacity .25s ease-in-out;
	-moz-transition:opacity .25s ease-in-out;
	-o-transition:opacity .25s ease-in-out;
	-ms-transition:opacity .25s ease-in-out;
	transition:opacity .25s ease-in-out;
}
.aggregator.filtered:hover .cross {
	opacity:0;
	filter:alpha(opacity = 0);
}
.aggregator:hover .cross {
	opacity:1;
	filter:alpha(opacity = 100);
}
.aggregator.blog h2, .aggregator.blog .cross, .aggregator.blog .cross-active {
	background-color: #F7CE91;
}
.aggregator.work h2, .aggregator.work .cross, .aggregator.work .cross-active {
	background-color: #F19A17;
}
.aggregator.contact h2, .aggregator.contact .cross, .aggregator.contact .cross-active {
	background-color: #FFA51D;
}
.aggregator.services h2, .aggregator.services .cross, .aggregator.services .cross-active {
	background-color: #E2A64B;
}
.aggregator.about h2, .aggregator.about .cross, .aggregator.about .cross-active {
	background-color: #DC751C;
}
.aggregator.people h2, .aggregator.people .cross, .aggregator.people .cross-active {
	background-color: #EC9F5D;
}
.view-blonde-people {
    text-align: center;
}
#map {
        height: 178px;
		border: 1px solid #e1e1e1;
		width: 338px;
		float: right;
      }
.profile-card {
    width: 180px;
    display: inline-block;
    margin: 10px 28px;
}
.aggregator.careers h2, .aggregator.careers .cross, .aggregator.careers .cross-active {
	background-color: #A3F1A4;
}
/* ------------------------ GMAPS3 ---------------------------- */
.map .googleMap .googleMap-description .googleMap-triangle {
    border-color: transparent #ce0000 transparent transparent;
}

.aggregator.blonde-title .inner {
	margin:0;
	background:#ffffff url(../css/images/aggregator_blonde_title.gif) center center no-repeat;
	background-size:200px 200px;
}
.aggregator.back-title .inner {
	margin:0;
	background:#ffffff url(../css/images/back.gif) center center no-repeat;
	background-size:200px 200px;
}
@media only screen and (-webkit-min-device-pixel-ratio:1.5), only screen and (min-device-pixel-ratio:1.5) {
.aggregator.blonde-title .inner {
	background-image:url(../css/images/aggregator_blonde_title@2x.gif);
}
}
.mobileweight {
	display:none;
}
.tweet a.inner {
	padding-left:25px;
	padding-right:25px;
}
.tweet .twitter-link {
	color:#095776;
}
.tweet .title {
	padding-left:0;
	padding-right:0;
}
@media all and (max-width:480px) {
body {
	background:#fff !important;
}
#isotope-container {
}
.aggregator.blonde-title .inner {
	margin:0;
	background-size:100px 100px;
}
.title {
	font-size:11px;
}
.aggregator h2 {
	width:100px;
	height:25px;
	font-size:30px;
	line-height:30px;
	margin-left:-60px;
}
#isotope-container {
	min-width:200px;
	width:100% !important;
	margin-right:0;
}
#isotope-container .block {
}
.title {
	padding:0 10px;
}
.isotope .isotope-item.tweet a.inner {
	width:139px;
	padding-left:10px;
	padding-right:10px;
}
.isotope .isotope-item.tweet a.inner h2 {
	font-size:8px;
}
#isotope-container .block {
	width:160px;
}
.inner {
	display:table;
	padding:0;
}
.aggregator .plus, .aggregator .minus {
	left:0;
	top:0;
}
.aggregator .cross {
	width:40px;
	height:120px;
	margin-left:-20px;
	margin-top:-60px;
}
.isotope .isotope-item .subtitle {
	width:150px;
	top:105px;
	font-size:9px;
	padding:0 5px;
}
}
